/* @import "antd/dist/antd.dark.css"; */
@import "antd/dist/antd.compact.css";
.App {
  font-family: sans-serif;
}
[class*="ant-layout"] {
  background: #fff;
}
[class*="ant-layout-sider"] {
  background-color: #001529;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
  border: 1px solid black;
  border-bottom: 2px solid white;
}
.ant-menu > .ant-menu-item-divider {
  margin: 10px 0;
  width: 100%;
}
.ant-menu-inline-collapsed {
  width: 40px;
  margin: 0 auto;
  padding: 10px 0;
  align-items: center;
}
.ant-menu > .ant-menu-item {
  border-radius: 4px;
}
.ant-tabs-nav-wrap {
  height: 48px;
  margin-top: 16px;
}
.ant-tabs-tab {
  padding: 0 8px;
}
.ant-tabs-tab-active {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 4px;
}
.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid black;
}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background-color: white;
}
.header-row {
  margin: 8px 0;
  display: flex;
  width: 100%;
  padding: 8px;
}

.header-row > div:not(:last-child) {
  margin-right: 8px;
}

.paper-text {
  padding: 24px 8px;
  border-radius: 4px;
  flex-grow: 1;
  background-color: #f3f3f4;
}
